.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
}

.navigation__list {
  @include list;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 133%;
  letter-spacing: 0.1em;
  z-index: 1;
}

.navigation__item {
  padding-top: 21px;
  padding-bottom: 19px;
}

.navigation__link {
  @include link;
  letter-spacing: 0.24px;

  &:hover,
  &:focus {
    color: #7859cf;
  }

  &:active {
    color: #7859cf;
    background-color: #f0ebff;
  }
}

.navigation__toggle {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  padding: 0;

  &:active {
    background-color: #f0ebff;
  }
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 22px;
  width: 16px;
  height: 2px;
  background-color: #333333;
  box-shadow: 0 4px 0 0 #333333, 0 9px 0 0 #333333;
}

.navigation--opened .navigation__toggle {
  top: 0;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 22px;
    width: 16px;
    height: 2px;
    background-color: #333333;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $mobile-width) {
  .navigation {
    margin-left: 20px;
  }

  .navigation__item {
    border-bottom: 1px solid #f0ebff;
  }

  .navigation__item:first-child {
    border-top: 1px solid #f0ebff;
  }

  .navigation--closed .navigation__list {
    display: none;
  }

  .navigation--opened .navigation__list {
    display: flex;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
  }

  .navigation__link {
    padding: 21px 120px;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    margin: 0 20px;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__container {
    min-width: 580px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .navigation__item {
    padding: 0;
    display: flex;
  }

  .navigation__item--current {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background: #7859cf;
    }

    & .navigation__link {
      color: #7859cf;
    }
  }

  .navigation__link {
    padding: 32px 20px;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .navigation {
    margin: 0 auto;
    width: 1360px;
  }

  .navigation__container {
    min-width: 882px;
  }

  .navigation__item:not(:last-child) {
    margin-right: 20px;
  }
}
